// --
// Copyright © 2016-2025 Patrick Zhang.
// All Rights Reserved.
// --
$primary-color: var(--ui-primary);
$secondary-color: var(--ui-secondary);
$success-color: var(--ui-success);
$text-color-white: var(--ui-color-primary-50);
